[submodule "vim/bundle/auto-pairs"]
	path = vim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
    ignore = dirty
[submodule "vim/bundle/css.vim"]
	path = vim/bundle/css.vim
	url = https://github.com/JulesWang/css.vim.git
    ignore = dirty
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
    ignore = dirty
[submodule "vim/bundle/sideways.vim"]
	path = vim/bundle/sideways.vim
	url = https://github.com/AndrewRadev/sideways.vim.git
    ignore = dirty
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
    ignore = dirty
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
    ignore = dirty
[submodule "vim/bundle/vim-characterize"]
	path = vim/bundle/vim-characterize
	url = https://github.com/tpope/vim-characterize.git
    ignore = dirty
[submodule "vim/bundle/vim-easy-align"]
	path = vim/bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
    ignore = dirty
[submodule "vim/bundle/vim-easymotion"]
	path = vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
    ignore = dirty
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
    ignore = dirty
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
    ignore = dirty
[submodule "vim/bundle/vim-sparkup"]
	path = vim/bundle/vim-sparkup
	url = https://github.com/tristen/vim-sparkup.git
    ignore = dirty
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
    ignore = dirty
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
    ignore = dirty
[submodule "vim/bundle/base16-vim"]
	path = vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
    ignore = dirty
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
    ignore = dirty
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
    ignore = dirty
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
    ignore = dirty
[submodule "vim/bundle/incsearch.vim"]
	path = vim/bundle/incsearch.vim
	url = https://github.com/haya14busa/incsearch.vim.git
    ignore = dirty
[submodule "vim/bundle/vim-indent-guides"]
	path = vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
    ignore = dirty
[submodule "vim/bundle/vim-indent-object"]
	path = vim/bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
    ignore = dirty
[submodule "vim/bundle/jellybeans.vim"]
	path = vim/bundle/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
    ignore = dirty
[submodule "vim/bundle/ListToggle"]
	path = vim/bundle/ListToggle
	url = https://github.com/Valloric/ListToggle.git
    ignore = dirty
[submodule "vim/bundle/smartpairs.vim"]
	path = vim/bundle/smartpairs.vim
	url = https://github.com/gorkunov/smartpairs.vim.git
    ignore = dirty
[submodule "vim/bundle/argtextobj.vim"]
	path = vim/bundle/argtextobj.vim
	url = https://github.com/vim-scripts/argtextobj.vim.git
    ignore = dirty
[submodule "vim/bundle/vim-bracketed-paste"]
	path = vim/bundle/vim-bracketed-paste
	url = https://github.com/ConradIrwin/vim-bracketed-paste.git
    ignore = dirty
[submodule "vim/bundle/vim-mundo"]
	path = vim/bundle/vim-mundo
	url = https://github.com/simnalamburt/vim-mundo.git
    ignore = dirty
[submodule "vim/bundle/last_edit_marker.vim"]
	path = vim/bundle/last_edit_marker.vim
	url = https://github.com/vim-scripts/last_edit_marker.vim.git
    ignore = dirty
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
    ignore = dirty
[submodule "vim/bundle/vim-sleuth"]
	path = vim/bundle/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
    ignore = dirty
[submodule "vim/bundle/rainbow.git"]
	path = vim/bundle/rainbow.git
	url = https://github.com/luochen1990/rainbow.git
    ignore = dirty
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
    ignore = dirty
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = https://github.com/tmhedberg/matchit.git
	ignore = dirty
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
	ignore = dirty
[submodule "vim/bundle/vim-multiple-cursors"]
	path = vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
	ignore = dirty
[submodule "vim/bundle/vim-diminactive"]
	path = vim/bundle/vim-diminactive
	url = https://github.com/blueyed/vim-diminactive.git
	ignore = dirty
[submodule "vim/bundle/cursorcross"]
	path = vim/bundle/cursorcross
	url = https://github.com/mtth/cursorcross.vim.git
	ignore = dirty
[submodule "vim/bundle/vim-windowswap"]
	path = vim/bundle/vim-windowswap
	url = https://github.com/wesQ3/vim-windowswap.git
	ignore = dirty
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
	ignore = dirty
[submodule "vim/bundle/vim-mustache-handlebars"]
	path = vim/bundle/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
	ignore = dirty
[submodule "vim/bundle/vim-endwise"]
	path = vim/bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/strogonoff/vim-coffee-script.git
[submodule "vim/bundle/vim-emblem"]
	path = vim/bundle/vim-emblem
	url = https://github.com/yalesov/vim-emblem.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/bundle/vim-projectionist"]
	path = vim/bundle/vim-projectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule "vim/bundle/vim-hybrid"]
	path = vim/bundle/vim-hybrid
	url = https://github.com/w0ng/vim-hybrid.git
