[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
	ignore = dirty
[submodule "vim/bundle/vim-easymotion"]
	path = vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
	ignore = dirty
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
	ignore = dirty
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
	ignore = dirty
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
	ignore = dirty
[submodule "vim/bundle/base16-vim"]
	path = vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
	ignore = dirty
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
	ignore = dirty
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
	ignore = dirty
[submodule "vim/bundle/vim-indent-guides"]
	path = vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
	ignore = dirty
[submodule "vim/bundle/vim-indent-object"]
	path = vim/bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
	ignore = dirty
[submodule "vim/bundle/ListToggle"]
	path = vim/bundle/ListToggle
	url = https://github.com/Valloric/ListToggle.git
	ignore = dirty
[submodule "vim/bundle/argtextobj.vim"]
	path = vim/bundle/argtextobj.vim
	url = https://github.com/vim-scripts/argtextobj.vim.git
	ignore = dirty
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
	ignore = dirty
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = https://github.com/tmhedberg/matchit.git
	ignore = dirty
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
	ignore = dirty
[submodule "vim/bundle/vim-airline-themes"]
	path = vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
	ignore = dirty
[submodule "vim/bundle/es.next.syntax.vim"]
	path = vim/bundle/es.next.syntax.vim
	url = https://github.com/othree/es.next.syntax.vim.git
	ignore = dirty
[submodule "vim/bundle/vim-polyglot"]
	path = vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
	ignore = dirty
[submodule "vim/bundle/vim-hybrid-material"]
	path = vim/bundle/vim-hybrid-material
	url = https://github.com/kristijanhusak/vim-hybrid-material.git
	ignore = dirty
[submodule "vim/bundle/vim-vinegar"]
	path = vim/bundle/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
	ignore = dirty
[submodule "vim/bundle/ale"]
	path = vim/bundle/ale
	url = https://github.com/w0rp/ale.git
	ignore = dirty
[submodule "vim/bundle/oceanic-next"]
	path = vim/bundle/oceanic-next
	url = https://github.com/mhartington/oceanic-next.git
	ignore = dirty
[submodule "vim/bundle/vim-prettier"]
	path = vim/bundle/vim-prettier
	url = https://github.com/heavenshell/vim-prettier.git
	ignore = dirty
[submodule "vim/bundle/javascript-libraries-syntax"]
	path = vim/bundle/javascript-libraries-syntax
	url = https://github.com/othree/javascript-libraries-syntax.vim.git
	ignore = dirty
[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
	ignore = dirty
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
	ignore = dirty
[submodule "vim/bundle/rainbow"]
	path = vim/bundle/rainbow
	url = https://github.com/luochen1990/rainbow.git
	ignore = dirty
[submodule "vim/bundle/tagman.vim"]
	path = vim/bundle/tagman.vim
	url = https://github.com/grassdog/tagman.vim.git
	ignore = dirty
[submodule "vim/bundle/vim-startify"]
	path = vim/bundle/vim-startify
	url = https://github.com/mhinz/vim-startify.git
	ignore = dirty
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
	ignore = dirty
[submodule "vim/bundle/vim-devicons"]
	path = vim/bundle/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
	ignore = dirty
[submodule "vim/bundle/vim-closetag"]
	path = vim/bundle/vim-closetag
	url = https://github.com/alvan/vim-closetag.git
	ignore = dirty
[submodule "vim/bundle/vim-multiple-cursors"]
	path = vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
	ignore = dirty
[submodule "vim/bundle/vim-windowswap"]
	path = vim/bundle/vim-windowswap
	url = https://github.com/wesQ3/vim-windowswap.git
	ignore = dirty
[submodule "vim/bundle/palenight.vim"]
	path = vim/bundle/palenight.vim
	url = https://github.com/drewtempelmeyer/palenight.vim.git
	ignore = dirty
[submodule "vim/bundle/vim-easy-align"]
	path = vim/bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
	ignore = dirty
[submodule "vim/bundle/sideways.vim"]
	path = vim/bundle/sideways.vim
	url = https://github.com/AndrewRadev/sideways.vim.git
	ignore = dirty
